version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: foodpilot_postgres
    environment:
      POSTGRES_USER: FOODPILOT
      POSTGRES_PASSWORD: FoodPilot2026?
      POSTGRES_DB: foodpilot
    ports:
      - "5437:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
