version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: foodpilot_postgres
    environment:
      POSTGRES_USER: IN6AM
      POSTGRES_PASSWORD: In6amKnl!
      POSTGRES_DB: foodpilot
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
